<div class="row col-12">
	<!--search bar-->
	<div class="col-3">
		<nav class="navbar navbar-light bg-light">
			<form class="form-inline">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
					<i class="fas fa-search"></i>
				</button>
			</form>
		</nav>
	</div>
	<!--icons-->
	<div class="col-9 text-right">
		<div class="row col-12">
			<div class="offset-9"></div>
			<div class="row col-3" style="padding-left: 7%;">
				
				<div class="mr-2" style="float: right">
					<button class="btn" type="button"><i class="far fa-bell fa-lg"></i></button>
				</div>
				<div class="mr-2">
					<ul class="navbar-nav mr-auto">
						<li class="vertical-divider"></li>
						<li class="nav-item">
							<div class="dropdown">
								<button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-user fa-lg"></i>
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<b style="text-align:center;">Admin</b>
									<a class="dropdown-item" href="#">Profile</a>
								<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Salir</a>
								</div>
							</div>
						</li>
				    </ul>
				</div>
				<div class="mr-2">
					<button class="btn" title="Cerrar Sesion" type="button" (click)="logOut()">
                        <i class="fas fa-sign-out-alt fa-lg"></i>
                    </button>
				</div>
			</div>
		</div>
		
	</div>
</div>
