<section class="container-fluid with-maxwidth">

    <article class="">
        <h2 class="article-title">{{form_name}}</h2>
        <div class="box box-default fadeIn fast">
            <div class="box-body">
                <form role="form" (ngSubmit)="guardar()" #forma="ngForm">
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <div class=" form-group ">
                                <label for="name ">Nombre *</label>
                                <input class="form-control" name="nombre" id="nombre" required [(ngModel)]="sport.name" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class=" form-group ">
                                <label for="name ">Participantes *</label>
                                <input class="form-control" name="participantes" id="participantes" required [(ngModel)]="sport.participants" required>
                            </div>
                        </div>
                    </div>
                    <button [disabled]="!forma.valid" class="btn btn-primary mr-2">Guardar</button>
                    <button [routerLink]="['/app/sports']" type="button" class="btn btn-secondary">Cancelar</button>
                    <div class="divider "></div>
                </form>
            </div>
        </div>
    </article>

</section>