<section class="container-fluid with-maxwidth">

    <article class="">
        <h2 class="article-title">{{form_name}}</h2>
        <div class="box box-default fadeIn fast">
            <div class="box-body">
                <form role="form" (ngSubmit)="guardar()" #forma="ngForm">
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <div class=" form-group ">
                                <label for="name ">Nombre *</label>
                                <input class="form-control" name="nombre" id="nombre" required [(ngModel)]="city.name" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group ">
                                <label for="cuenta ">Departamento *</label>
                                <select name="department" id="department" class="form-control" [(ngModel)]="city.departament_id" required>
                                    <option value="">-Selecciona Departamento-</option>
                                    <option [ngValue]="department.id" *ngFor="let department of departments">{{department.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button [disabled]="!forma.valid" class="btn btn-primary mr-2">Guardar</button>
                    <button [routerLink]="['/app/cities']" type="button" class="btn btn-secondary">Cancelar</button>
                    <div class="divider "></div>
                </form>
            </div>
        </div>
    </article>

</section>
