#side-header-menu{
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 2%;
	margin-right: 2%;
	-webkit-tap-highlight-color: transparent;
}

.font-side-var{
	font-family: Montserrat,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	color: #fff;
}

nav>a.font-color-menu{
	font-family: Montserrat,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	color: #fff;
	font-size: 1rem;
}

li>a.font-color-menu{
	font-family: Montserrat,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	color: #fff;
	font-size: 1rem;
}

nav>a.font-color-menu:hover{
	content: '';
    display: block;
    z-index: -1;
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    border-right: 5px solid #ff586b;
    background: rgba(200,200,200,.2);
}

li>a.font-color-menu:hover{
    background: rgba(200,200,200,.2);
}

li>a.font-color-menu.active{
    background: rgba(200,200,200,.2);
}