<nav class="app-sidebar font-side-var">

    <section id="side-header-menu" class="sidebar-header font-side-var" >
    	<div class="row">
    		<div class="col-6"><h4>Lonely App</h4></div>
    		<div class="col-6 text-right">
    			<i *ngIf="!show_toggle" class="fas fa-toggle-on" (click)="show_toggle = true" style="cursor: pointer;"></i>
    			<i *ngIf="show_toggle" class="fas fa-toggle-off" (click)="show_toggle = false" style="cursor: pointer;"></i>
    		</div>
    	</div>
    </section>

    <section class="sidebar-content font-side-var">
	    <ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link active font-color-menu" href="#"><i class="fas fa-chart-line"></i> Dashboard</a>
			</li>
			<li class="nav-item active collapsed">
		        <a class="nav-link font-color-menu" href="#submenu_game"
		         data-toggle="collapse" data-target="#submenu_game" aria-controls="submenu_game" (click)="hideMenu('submenu_game')"><i class="fas fa-trophy"></i> Partidos</a>
		        <div class="collapse" id="submenu_game" aria-expanded="false">
			        <ul class="flex-column pl-2 nav">
			            <li><a class="nav-link font-color-menu" [routerLink]="['/app/games']"><span>Listar</span></a></li>
			            <li><a class="nav-link font-color-menu" [routerLink]="['/app/games/new']"><span>Crear</span></a></li>
			        </ul>
			    </div>	
		    </li>
		    		    
		    <!--<li class="nav-item dropdown" >
				<a class="nav-link dropdown-toggle font-color-menu" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" >
				  Contactos
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			  		<a class="dropdown-item" [routerLink]="['/app/contacts/new']">Nuevo Contacto</a>
			  		<a class="dropdown-item" [routerLink]="['/app/contacts']">Lista Contactos</a>
				</div>
			</li>-->
			<li class="nav-item active collapsed">
		        <a class="nav-link font-color-menu" href="#submenu_department"
		         data-toggle="collapse" data-target="#submenu_department" aria-controls="submenu_department" (click)="hideMenu('submenu_department')"><i class="fas fa-map-marker-alt"></i> Departamentos</a>
		        <div class="collapse" id="submenu_department" aria-expanded="false">
			        <ul class="flex-column pl-2 nav">
			            <li><a class="nav-link font-color-menu" [routerLink]="['/app/departments']"><span>Listar</span></a></li>
			            <li><a class="nav-link font-color-menu" [routerLink]="['/app/departments/new']"><span>Crear</span></a></li>
			        </ul>
			    </div>	
		    </li>
			<li class="nav-item active collapsed">
		        <a class="nav-link font-color-menu" href="#submenu_city"
		         data-toggle="collapse" data-target="#submenu_city" aria-controls="submenu_city" (click)="hideMenu('submenu_city')"><i class="fas fa-map-marker-alt"></i> Ciudades</a>
		        <div class="collapse" id="submenu_city" aria-expanded="false">
			        <ul class="flex-column pl-2 nav">
			            <li><a class="nav-link font-color-menu" [routerLink]="['/app/cities']"><span>Listar</span></a></li>
			            <li><a class="nav-link font-color-menu" [routerLink]="['/app/cities/new']"><span>Crear</span></a></li>
			        </ul>
			    </div>	
		    </li>
			<li class="nav-item collapsed">
		        <a class="nav-link font-color-menu" href="#submenu_neighborhood"
		         data-toggle="collapse" data-target="#submenu_neighborhood" (click)="hideMenu('submenu_neighborhood')"><i class="fas fa-map-marker-alt"></i> Barrios</a>
		        <div class="collapse" id="submenu_neighborhood" aria-expanded="false">
			        <ul class="flex-column pl-2 nav">
			            <li><a class="nav-link font-color-menu" [routerLink]="['/app/neighborhoods']"><span>Listar</span></a></li>
			            <li><a class="nav-link font-color-menu" [routerLink]="['/app/neighborhoods/new']"><span>Crear</span></a></li>
			        </ul>
			    </div>	
		    </li>
			<li class="nav-item collapsed">
		        <a role="button" class="nav-link font-color-menu" href="#"
		         data-toggle="collapse" data-target="#submenu_sport" id="submenu_sport_a" (click)="hideMenu('submenu_sport')"><i class="fas fa-futbol"></i> Deportes</a>
		        <div class="collapse" id="submenu_sport" aria-labelledby="submenu_sport_a">
			        <ul class="flex-column pl-2 nav">
			            <li><a class="nav-link font-color-menu" [routerLink]="['/app/sports']"><span>Listar</span></a></li>
			            <li><a class="nav-link font-color-menu" [routerLink]="['/app/sports/new']"><span>Crear</span></a></li>
			        </ul>
			    </div>	
		    </li>
			<li class="nav-item collapsed">
		        <a class="nav-link font-color-menu" href="#"
		         data-toggle="collapse" data-target="#submenu_field" id="submenu_field_a" (click)="hideMenu('submenu_field')"><i class="far fa-futbol"></i> Canchas</a>
		        <div class="collapse" id="submenu_field" aria-labelledby="submenu_field_a">
			        <ul class="flex-column pl-2 nav">
			            <li><a class="nav-link font-color-menu" [routerLink]="['/app/fields']"><span>Listar</span></a></li>
			            <li><a class="nav-link font-color-menu" [routerLink]="['/app/fields/new']"><span>Crear</span></a></li>
			        </ul>
			    </div>	
		    </li>
		    <li class="nav-item collapsed">
		        <a class="nav-link font-color-menu" href="#submenu_persons"
		         data-toggle="collapse" (click)="hideMenu('submenu_persons')" data-target="#submenu_persons"><i class="fas fa-users"></i> Personas</a>
		        <div class="collapse" id="submenu_persons" aria-expanded="false">
			        <ul class="flex-column pl-2 nav">
			            <li><a class="nav-link font-color-menu" [routerLink]="['/app/persons']"><span>Listar</span></a></li>
			            <li><a class="nav-link font-color-menu" [routerLink]="['/app/persons/new']"><span>Crear</span></a></li>
			        </ul>
			    </div>	
		    </li>
			<!--<li class="nav-item">
				<a class="nav-link disabled font-color-menu" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
			</li>-->
		</ul>	
    </section>
</nav>
<!--side-bar menu-->

