<div class="row col-12" >
	<div class="col-2 side-menu-color">
		<app-side-bar></app-side-bar>
	</div>
	<div class="col-10">
		<app-header></app-header>
		<div class="col-12 mt-3">
				<div class="my-overlay" *ngIf="showOverlay">
				  <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
				</div>
			<router-outlet>
			</router-outlet> 
		</div>
	</div>
</div>