.side-menu-color{
	
	background-image: linear-gradient(45deg,#360033,#0b8793)!important;
    background-repeat: repeat-x!important;
	box-shadow: 2px 10px 30px 0 rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
	transform: translate3d(0,0,0);
    white-space: nowrap;
    visibility: visible;
    height: 100vh;
}

.side-menu-color:before, .off-canvas-sidebar:before {
    opacity: .33;
}

.side-menu-color-resp{
	background-color: #1cbcd8!important;
}

.my-overlay {
    left: 0 !important;
    top: 0 !important;
    z-index: 10000 !important;
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    background-color: rgba(0,0,0,0.6) !important;
    cursor: pointer !important;
    visibility: visible !important;
    transition: visibility 0s, opacity 0.4s linear !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: wait !important;
}
.my-overlay i.fa.fa-spinner.fa-spin, .spinner-big {
    font-size: 100px !important;
}