<section class="container-fluid with-maxwidth">
	<article>
        <h2 class="article-title">Departamentos</h2>
        <div class="box box-default table-box">
            <div class="box-body">
            	<div class="row">
                    <div class="offset-11 col-1">
                        <div class="pull-right">
                            <a [routerLink]="['new']" class="btn btn-success btn-sm" title="Agregar Departamento"><i class="fas fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-2 col-8 table-responsive-md mt-3">
                        <table class="mdl-data-table table table-bordered">
                        	<thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric">Nombre</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            	<tr *ngFor="let department of departments">
                            		<td>{{department.name}}</td>
                            		<td class="text-center">
                                        <span >
                                            <a class="btn btn-primary btn-sm mr-2" [routerLink]="['/app/departments',department.id,'edit']" title="Editar"><i class="fas fa-edit"></i></a>
                                        </span>
                                        <span >
                                            <button title="Borrar" type="button" class="btn btn-danger btn-sm" (click)="deleteDepartment(department.id)">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </span>
                            		</td>
                            	</tr>
                            </tbody>	
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </article>	
</section>		
