<section class="container-fluid with-maxwidth">

    <article class="">
        <h2 class="article-title">{{form_name}}</h2>
        <div class="box box-default fadeIn fast">
            <div class="box-body">
                <form role="form" (ngSubmit)="guardar()" #forma="ngForm">
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <div class=" form-group ">
                                <label for="name ">Nombre *</label>
                                <input class="form-control" name="nombre" id="nombre" required [(ngModel)]="field.name" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class=" form-group ">
                                <label for="name ">Dirección *</label>
                                <input class="form-control" name="address" id="address" required [(ngModel)]="field.address" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group ">
                                <label for="cuenta ">Barrio *</label>
                                <select name="neighborhood" id="neighborhood" class="form-control" [(ngModel)]="field.neighborhood" required>
					                <option [ngValue]="neighborhood.name" *ngFor="let neighborhood of neighborhoods">{{neighborhood.name}}</option>
					            </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group ">
                                <label for="cuenta ">Deporte *</label>
                                <select name="sport" id="sport" class="form-control" [(ngModel)]="field.sport" required>
					                <option [ngValue]="sport.name" *ngFor="let sport of sports">{{sport.name}}</option>
					            </select>
                            </div>
                        </div>
                    </div>
                    <button [disabled]="!forma.valid" class="btn btn-primary mr-2">Guardar</button>
                    <button [routerLink]="['/app/fields']" type="button" class="btn btn-secondary">Cancelar</button>
                    <div class="divider "></div>
                </form>
            </div>
        </div>
    </article>

</section>

