<app-show-loading></app-show-loading>
<section class="container-fluid with-maxwidth">

    <article class="">
        <h2 class="article-title">{{form_name}}</h2>
        <div class="box box-default fadeIn fast">
            <div class="box-body">
                <form role="form" (ngSubmit)="guardar()" #forma="ngForm">
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <div class=" form-group ">
                                <label for="name ">Nombre *</label>
                                <input class="form-control" name="nombre" id="nombre" [(ngModel)]="neighborhood.name" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group ">
                                <label for="city">Ciudad *</label>
                                <select name="city" id="city" class="form-control" [(ngModel)]="neighborhood.city" required>
                                    <option value="">Seleccione una Ciudad</option>
					                <option [value]="city.name" *ngFor="let city of cities">{{city.name}}</option>
					            </select>
                            </div>
                        </div>
                    </div>
                    <button [disabled]="!forma.valid" class="btn btn-primary mr-2">Guardar</button>
                    <button [routerLink]="['/app/neighborhoods']" type="button" class="btn btn-secondary">Cancelar</button>
                    <div class="divider "></div>
                </form>
            </div>
        </div>
    </article>

</section>

