<section class="container-fluid with-maxwidth">

    <article class="">
        <h2 class="article-title">{{form_name}}</h2>
        <div class="box box-default fadeIn fast">
            <div class="box-body">
                <form role="form" (ngSubmit)="guardar()" #forma="ngForm">
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <div class=" form-group ">
                                <label for="name ">Doc Propietario*</label>
                                <select name="dni" id="dni" [(ngModel)]="game.ownerDni" class="form-control">
                                    <option value=""></option>
                                    <option [value]="person.dni" *ngFor="let person of persons">{{person.dni}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class=" form-group ">
                                <label for="name ">Fecha *</label>
                                <div class="input-group-prepend">
                                    <input (click)="d.toggle()" type="text" name="date" ngbDatepicker #d="ngbDatepicker" class="form-control" [(ngModel)]="game.date"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class=" form-group ">
                                <label for="name ">Codigo *</label>
                                <input class="form-control" name="code" id="code" required [(ngModel)]="game.code" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group ">
                                <label for="cuenta ">Cancha *</label>
                                <select name="field" id="field" class="form-control" [(ngModel)]="game.field" required>
                                    <option value="">Selecciona una cancha</option>
					                <option [value]="field.name" *ngFor="let field of fields">{{field.name}}</option>
					            </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                		<div class="col-12 text-center my-3">
		        			<h4>Participantes</h4>
		        		</div>
		        		<div class="offset-3 col-6">
			        		<table class="mdl-data-table table table-bordered table-striped">
	                    		<thead>
	                    			<tr>
	                                    <th class="mdl-data-table__cell--non-numeric">Documento</th>
	                                    <th class="mdl-data-table__cell--non-numeric">Nombre</th>
	                                </tr>
	                    		</thead>
	                    		<tbody>
	                    			<tr *ngFor="let game_detail of game_details; index as i">
	                    				<td>
                                            <select name="game_detail{{i}}" id="game_detail{{i}}" [(ngModel)]="game_detail.person" class="form-control" (change)="getPersonName(game_detail)" required>
                                                <option value="">Selecciona un participante</option>
                                                <option [value]="person.name" *ngFor="let person of persons">{{person.dni}}</option>
                                            </select>               
                                        </td>
	                    				<td><span id="game_detail_person{{i}}">{{game_detail.person_name}}</span></td>
	                    			</tr>
                                    <tr>
                                        <td colspan=2 style="text-align: right;">
                                            <button title="Agregar" type="button" class="btn btn-primary btn-sm" (click)="addGameDetail()">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </td>
                                    </tr>
	                    		</tbody>
	                    	</table>	
		        		</div>
                	</div>
                    <button [disabled]="!forma.valid" class="btn btn-primary mr-2">Guardar</button>
                    <button [routerLink]="['/app/games']" type="button" class="btn btn-secondary">Cancelar</button>
                    <div class="divider "></div>
                </form>
            </div>
        </div>
    </article>

</section>

